<div class="row">
    <div class="col-xl-4 col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-header">Thêm Mới Thuốc</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="" class="form-label mb-2">Tên Thuốc</label>
                            <input v-model="add.ten_thuoc" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="" class="form-label mb-2">Hạn Sử Dụng</label>
                            <input v-model="add.han_su_dung" type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="" class="form-label mb-2">Giá Nhập</label>
                            <input v-model="add.gia_nhap" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="" class="form-label mb-2">Giá Bán</label>
                            <input v-model="add.gia_ban" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label mb-2">Nhóm Thuốc</label>
                                <select name="" id="" v-model="add.id_nhom_thuoc" class="form-control">
                                    <option value="">Vui lòng chọn nhóm thuốc</option>
                                    <template v-for="(value, key) in dataNhomThuoc" :key="key">
                                        <option :value="value.id">{{ value.ten_nhom_thuoc}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label mb-2">Đơn vị</label>
                                <select name="" id="" v-model="add.id_don_vi" class="form-control">
                                    <option value="">Vui lòng chọn đơn vị</option>
                                    <template v-for="(value, key) in dataDonVi" :key="key">
                                        <option :value="value.id">{{ value.ten_don_vi}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="mb-3">
                    <label for="" class="form-label mb-2">Ghi chú</label>
                    <textarea v-model="add.ghi_chu" name="" id="" class="form-control"></textarea>
                </div>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-primary" @click="themMoi()">Thêm Mới</button>
            </div>
        </div>
    </div>
    <div class="col-cl-8 col-md-8 col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-header">Danh Sách Thuốc</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên Thuốc</th>
                                <th class="text-center align-middle text-nowrap">Hạn Sử Dụng</th>
                                <th class="text-center align-middle text-nowrap">Giá Nhập</th>
                                <th class="text-center align-middle text-nowrap">Giá Bán</th>
                                <th class="text-center align-middle text-nowrap">Đơn Vị</th>
                                <th class="text-center align-middle text-nowrap">Nhóm Thuốc</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(value, index) in dataThuoc" :key="index">
                                <tr>
                                    <th class="text-center align-middle text-nowrap">{{ index + 1 }}</th>
                                    <td class="align-middle text-nowrap">{{ value.ten_thuoc }}</td>
                                    <td class="align-middle text-nowrap">{{ value.han_su_dung }}</td>
                                    <td class="align-middle text-nowrap">{{ value.gia_nhap }} VNĐ</td>
                                    <td class="align-middle text-nowrap">{{ value.gia_ban }} VNĐ</td>
                                    <td class="align-middle text-nowrap">{{ value.ten_don_vi}}</td>
                                    <td class="align-middle text-nowrap">{{ value.ten_nhom_thuoc}}</td>
                                    <td class="text-center text-nowrap align-middle">
                                        <button class="btn btn-primary me-2" lass="btn btn-primary"
                                            data-bs-toggle="modal" data-bs-target="#capNhatModal"
                                            @click="Object.assign(edit, value)">Chỉnh Sửa</button>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        @click="Object.assign(del, value)">Xóa</button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <!-- Cập nhật -->
                    <div class="modal fade" id="capNhatModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Tên Thuốc</label>
                                                <input v-model="edit.ten_thuoc" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Hạn Sử Dụng</label>
                                                <input v-model="edit.han_su_dung" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Giá Nhập</label>
                                                <input v-model="edit.gia_nhap" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Giá Bán</label>
                                                <input v-model="edit.gia_ban" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Nhóm Thuốc</label>
                                                <select name="" id="" v-model="edit.id_nhom_thuoc" class="form-control">
                                                    <option value="">Vui lòng chọn nhóm thuốc</option>
                                                    <template v-for="(value, key) in dataNhomThuoc" :key="key">
                                                        <option :value="value.id">{{ value.ten_nhom_thuoc}}</option>
                                                    </template>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label mb-2">Đơn vị</label>
                                                <select name="" id="" v-model="edit.id_don_vi" class="form-control">
                                                    <option value="">Vui lòng chọn đơn vị</option>
                                                    <template v-for="(value, key) in dataDonVi" :key="key">
                                                        <option :value="value.id">{{ value.ten_don_vi}}</option>
                                                    </template>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label mb-2">Ghi chú</label>
                                        <textarea v-model="edit.ghi_chu" name="" id="" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" @click="capNhat()">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Xóa -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Bạn có chắc chắn muốn xóa hay không.<br><span><b class="text-danger">Lưu ý:</b> Dữu liệu sau khi xóa không thể khôi phục lại!!</span>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary" @click="Xoa()">Xác Nhận</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>