<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Quản Lý Nhập Kho</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                       <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên Thuốc</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Thuốc giảm đau</td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary">Thêm mới</button>
                                </td>
                            </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Danh Sách Thuốc Nhập</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên thuốc</th>
                                <th class="text-center align-middle text-nowrap">Giá nhập</th>
                                <th class="text-center align-middle text-nowrap">Số lượng</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Thuốc giảm đau</td>
                                <td style="width: 250px;" class="text-center align-middle text-nowrap">
                                    <input  class="form-control" type="number">
                                </td>
                                <td style="width: 150px;" class="text-center align-middle text-nowrap"><input  class="form-control" type="number"></td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Cập nhật -->
                    <!-- <div class="modal fade" id="capNhatModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="" class="form-lable mb-2">Tên Của Hàng</label>
                                        <input v-model="edit.ten_cua_hang" type="text" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-lable mb-2">Địa Chỉ</label>
                                        <input v-model="edit.dia_chi" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" @click="capNhat()">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Xóa -->
                    <!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Bạn có chắc chắn muốn xóa hay không.<br><span><b class="text-danger">Lưu ý:</b> Dữu liệu sau khi xóa không thể khôi phục lại!!</span>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary" @click="Xoa()">Xác Nhận</button>
                            </div>
                          </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>