<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Quản Lý Quyền</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                       <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên Quyền</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Nhân viên</td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary">Thêm mới</button>
                                </td>
                            </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Danh Sách Nhân Viên</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên quyền</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Thuốc giảm đau</td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary">Cập nhật</button>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>