<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Quản Lý Bán Hàng</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                       <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên Thuốc</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                       </thead>
                       <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Thuốc giảm đau</td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary">Thêm mới</button>
                                </td>
                            </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header"><h5>Danh Sách Đơn Hàng</h5></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle text-nowrap">#</th>
                                <th class="text-center align-middle text-nowrap">Tên thuốc</th>
                                <th class="text-center align-middle text-nowrap">Số lượng</th>
                                <th class="text-center align-middle text-nowrap">Tổng tiền</th>
                                <th class="text-center align-middle text-nowrap">Action</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle text-nowrap">1</td>
                                <td class="text-center align-middle text-nowrap">Thuốc giảm đau</td>
                                <td style="width: 250px;" class="text-center align-middle text-nowrap">
                                    <input  class="form-control" type="number">
                                </td>
                                <td class="text-center align-middle text-nowrap"></td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-primary me-2">Xóa</button>
                                    <button class="btn btn-danger">Cập nhật</button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <div class="card-footer text-s">
              <div class="row">
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    <label for=""><h6>Tổng tiền :</h6></label>
                </div>
              </div>
        </div>
    </div>
</div>